<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.platform.mapper.OrderInfoMapper">
    <!-- 分页查询 -->
    <select id="queryPage"  resultType="com.project.platform.entity.OrderInfo">
        SELECT order_info.*
        FROM order_info
        <include refid="queryConditions"/>
        ORDER BY order_info.id DESC
        LIMIT #{offset}, #{pageSize}
    </select>
    <!-- 查询总数 -->
    <select id="queryCount"  resultType="int">
        SELECT count(order_info.id) FROM order_info
        <include refid="queryConditions"/>
    </select>

    <!-- 查询条件 -->
    <sql id="queryConditions">
        <where>
            <if test="query.userId != null">
                AND order_info.user_id =  #{query.userId}
            </if>
            <if test="query.status != null and query.status.trim() != ''">
                AND order_info.status =  #{query.status}
            </if>
        </where>
    </sql>

    <!-- 插入 -->
    <insert id="insert" parameterType="com.project.platform.entity.OrderInfo" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO order_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderNo != null">order_no,</if>
            <if test="userId != null">user_id,</if>
            <if test="totalAmount != null">total_amount,</if>
            <if test="status != null">status,</if>
            <if test="visitDate != null">visit_date,</if>
            <if test="createTime != null">create_time,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderNo != null">#{orderNo},</if>
            <if test="userId != null">#{userId},</if>
            <if test="totalAmount != null">#{totalAmount},</if>
            <if test="status != null">#{status},</if>
            <if test="visitDate != null">#{visitDate},</if>
            <if test="createTime != null">#{createTime},</if>
        </trim>


    </insert>

    <!-- 更新 -->
    <update id="updateById" parameterType="com.project.platform.entity.OrderInfo">
        UPDATE order_info
        <set>
            <if test="orderNo != null">
                order_no = #{orderNo},
            </if>
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="totalAmount != null">
                total_amount = #{totalAmount},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="visitDate != null">
                visit_date = #{visitDate},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
        </set>
        WHERE id = #{id}
    </update>


    <!-- 根据ID列表删除 -->
    <delete id="removeByIds">
        DELETE FROM order_info
        WHERE id IN
        <foreach item="id" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
