<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.platform.mapper.RouteDaysMapper">
    <!-- 分页查询 -->
    <select id="queryPage"  resultType="com.project.platform.entity.RouteDays">
        SELECT route_days.*
        FROM route_days
        <include refid="queryConditions"/>
        ORDER BY route_days.id DESC
        LIMIT #{offset}, #{pageSize}
    </select>
    <!-- 查询总数 -->
    <select id="queryCount"  resultType="int">
        SELECT count(route_days.id) FROM route_days
        <include refid="queryConditions"/>
    </select>

    <!-- 查询条件 -->
    <sql id="queryConditions">
        <where>

        </where>
    </sql>

    <!-- 插入 -->
    <insert id="insert" parameterType="com.project.platform.entity.RouteDays" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO route_days
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="routeId != null">route_id,</if>
            <if test="dayNumber != null">day_number,</if>
            <if test="title != null">title,</if>
            <if test="locations != null">locations,</if>
            <if test="description != null">description,</if>
            <if test="spots != null">spots,</if>
            <if test="accommodation != null">accommodation,</if>
            <if test="transport != null">transport,</if>
            <if test="createTime != null">createTime,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="routeId != null">#{routeId},</if>
            <if test="dayNumber != null">#{dayNumber},</if>
            <if test="title != null">#{title},</if>
            <if test="locations != null">#{locations},</if>
            <if test="description != null">#{description},</if>
            <if test="spots != null">#{accommodation},</if>
            <if test="accommodation != null">#{transport},</if>
            <if test="transport != null">#{transport},</if>
            <if test="createTime != null">#{createTime},</if>
        </trim>


    </insert>

    <!-- 更新 -->
    <update id="updateById" parameterType="com.project.platform.entity.RouteDays">
        UPDATE route_days
        <set>
            <if test="routeId != null">
                route_id = #{routeId},
            </if>
            <if test="dayNumber != null">
                day_number = #{dayNumber},
            </if>
            <if test="title != null">
                title = #{title},
            </if>
            <if test="locations != null">
                title = #{locations},
            </if>
            <if test="description != null">
                description = #{description},
            </if>
            <if test="spots != null">
                spots = #{spots},
            </if>
            <if test="accommodation != null">
                accommodation = #{accommodation},
            </if>
            <if test="transport != null">
                transport = #{transport},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
        </set>
        WHERE id = #{id}
    </update>


    <!-- 根据ID列表删除 -->
    <delete id="removeByIds">
        DELETE FROM route_days
        WHERE id IN
        <foreach item="id" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
